@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.hero{
    background-image: url("../images/cow.jpg");
    height: 100vh;
    
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 99% 75%, 48% 100%, 48% 100%, 0 70%);
}
.hero h3{
    color:coral;
    text-align: center;
    font-size: 100px;
    font-weight: 700px;
    padding-top: 10px;
    font-family: cursive;
    word-spacing: 20px;
    letter-spacing: 20px;
}
.article {
    width: 80%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px; */
    margin: 200px auto;
   background: linear-gradient(pink ,skyblue);
    padding: 60px;
    border-width: 15px;
    border-color: yellow;
    border-style: solid;
}
.article h2,#cow_types h3{
    text-align: center;
    font-size: 48px;
    margin: 200px auto;
    border-bottom: 2px;
    border-color: yellow;
    border-style: solid;
    border-width: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 15px;
    padding: 10px;
    

}
.article p{
    font-size: 28px;
    line-height: 2em;
}
.important{
    font-size: 2em;
    background-color: yellow;
    height: 50px;
    display: inline-block;
}
.cow-type{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    
}
.cow-type div{
    min-width: 25%;
}
.cow-type img{
    width: 300px;
}
#cow_types{
    background: linear-gradient(pink,skyblue);
    width: 80%;
    margin: 150px auto;
    padding: 60px;
    border-width: 150px;
    border-color: yellow;
}